body {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  background: #fff;
  margin: auto;
}

header h1 {
  font-family: Futura;
  font-weight: bold;
  font-size: 5rem;
  padding-top: 2rem;
  color: #4B6EDA;
  text-align: center;
  letter-spacing: 0.2em;
}

#title a:link, #title a:hover, #title a:visited {
  color: #486EDA;
  text-decoration: none;
}

#title a:hover {
  border-bottom: 5px solid;
}

.navmenu nav a:link, .navmenu nav a:visited,
#text a:link, #text a:visited, #nav-link a, #nav-link a:visited,
#resources a:hover, #resources a:visited, .contact a:link, .contact a:visited  {
    color: #DC6B65;
    text-decoration: none;
}

.navmenu a:hover, #text a:hover, #nav-link a:hover, #resources a:hover, .contact a:hover {
  border-bottom: 2px solid;
}

.navmenu ul, .navmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #403429;
}

.navmenu #ig{
  width: 22px;
  margin-right: 2.55rem;
}

.navmenu #email{
  width: 21.5px;
  margin-right: 2.55rem;
  margin-top: 2.2rem;
}

.navmenu nav, .navmenu img {
    margin-top: 0.5rem;
    position: fixed;
    right: 5rem;
}

.navmenu nav li {
    display: vertical;
    padding: 0.2rem;
}

.navmenu nav a:hover, .navmenu nav a:active, .navmenu nav a:focus {
    border-bottom: 2px solid;
    color: #DC6B65;
}

.navmenu a img:hover {
  border-right: 2px solid;
  color: #DC6B65;
  padding-right: 0.3rem;
}

.active_page{
    border-bottom: 2px solid;
    color: #DC6B65;
}

.content p {
  margin-bottom: 0;
}

#intro h2, .about h2 {
  font-family: 'Montserrat';
  font-weight: bold;
}

#intro p, .about p {
  padding: 2em;
  padding-top: 0;
  padding-left: auto;
  text-decoration: none;
  font-size: 0.9em;
  letter-spacing: .05em;
  line-height: 1.5em;
  width: 78%;
  }

#intro {
  margin-right: 5rem;
}

#border1 {
    margin-top: 3em;
    margin-bottom: 3em;
    border-bottom: 1.2px dashed;
    border-color: #DC6B65;
    width: 92%;
    float: left;
  }

#border2 {
    margin-top: 3em;
    margin-bottom: 3em;
    border-bottom: 1.2px dotted;
    border-color: #81513D;
    width: 92%;
    float: left;
  }

  #typography h1, #colours h1, #inspiration h1, #interactive h1, #resources h1 {
    font-family: 'Montserrat';
    font-size: 2em;
  }

  #colours h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  #Futura h2 {
    font-family: Futura;
    font-weight: bold;
    color: #4B6EDA;
    padding-right: 0;
    margin-right: 0;
  }

  #Futura p {
    font-family: Futura;
    font-size: 1rem;
  }

  #Futura {
    font-family: Futura;
  }

  #Futura, #Montserrat {
    font-size: 2rem;
  }

  #Montserrat h5 {
    font-family: 'Montserrat';
    color: #DC6B65;
    font-weight: bold;
  }

  #Montserrat p {
    font-family: "Montserrat";
    font-size: 1rem;
  }

  #Montserrat, #Montserrat a {
    font-family: "Montserrat";
    color: black;
    text-decoration: none;
  }

  #headings h1 {
    font-family: Futura;
    color: #4B6EDA;
  }

  #headings h2, #headings h3, #headings h4 {
    font-family: 'Montserrat';
  }

  #headings h2 {
    color: #DC6B65;
  }

  #colours h1 {
    margin-top: 10rem;
  }

  #colours {
    font-family: 'Montserrat';
    letter-spacing: 0.1em;
    font-size: 0.9em;
    line-height: 1.5em;
  }

  #colours p {
    color: white;
    margin-top: 2em;
    padding-top: 3.3rem;
  }

  #colors1, #colors3, #colors4, #colors5 {
    flex: 1;
    text-align: center;
    height: 8rem;
    width: 8rem;
  }

  #colors1 p {
    color: black;
  }

  #colors1 {
    background-color: #FFFFFF;
  }

  #colors3 {
    background-color: #4B6EDA;
  }

  #colors4 {
    background-color: #DC6B65;
  }

  #colors5 {
    background-color: black;
  }

  #interactive {
  }

  #interactive h3, #nav-link h3, #typography h3 {
    font-style: 'Montserrat';
    letter-spacing: 0.3em;
  }

  #nav-link h3 {
    margin-bottom: 2rem;
  }

  #nav-link img {
    width: 21px;
    padding: 1.5rem 1rem 0.5rem 1rem;
  }

  #resources {
    margin-bottom: 5rem;
  }

  #resources p {
    margin-bottom: 1rem;
  }

  #border3 {
      margin-top: 2em;
      margin-bottom: 10em;
      border-bottom: 1.2px dashed;
      border-color: #DC6B65;
      width: 92%;
    }

  #bio img {
    opacity: 90%;
    background: #FEC8AF;
    padding: 1.2rem;
    max-width: 50%;
    margin-left: 5rem;
    margin-bottom: 2rem;
  }

#aboutimage, #bio {
  flex: 1;
  text-align: center;
}

#aboutimage img {
  background: #DFC66F;
  opacity: 85%;
  padding: 1.2rem;
  max-width: 70%;
  margin-right: 5rem;
  margin-bottom: 2rem;
}

.contact, .about {
  display: flex;
  margin-bottom: 5rem;
}

.textbox1{
flex:1;
}

.textbox1 p {
  width:70%;
}

.container {
  flex: 1;
}

.container img {
  flex: 1;
  margin: 1%;
  padding: 1rem;
  width: 250px;
  height: 250px;
}

.container a:hover {
  text-decoration: none;
}

.container a img:hover, .container a img:visited {
  filter: opacity(50%);
  text-decoration: none;
}

#intro video {
  padding: 5rem;
}

#projectsimg img, #projectsimg1 img {
  width: 80%;
  height: 80%;
}

footer {
  flex: 1;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 12px;
}

footer nav li {
  display: inline;
  padding: 1rem;
}

footer ul, footer li {
  list-style: none;
}

footer a:link, footer a:visited {
  color: black;
  text-decoration: none;
}

footer a:hover {
    color: #DC6B65;
}

@media screen and (min-width: 0px) and (max-width: 985px) {

  .navmenu nav {
    background: white;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 4.5rem;
    position: fixed;
  }
  .contact {
    display: block;
    padding-top: 0rem;
    padding-right: 5rem;
  }

  .container img {
    display: vertical;
    margin-right: 3rem;
    width: 200px;
    height: 200px;
  }

  .aboutimage img {
    width: 200px;
    height: 200px;
  }

    }

@media screen and (min-width: 0px) and (max-width: 700px) {

    .about {
      display: block;
      padding-top: 0rem;
      padding-right: 5rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .about img {
      margin-right: 2rem;
    }
    .contact {
      display: block;
      padding-top: 0rem;
      padding-right: 5rem;
    }

    .container img {
      display: vertical;
      margin-right: 3rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {

    .about {
      display: block;
      padding-top: 0rem;
      padding-right: 10rem;
    }
    .about img {
      margin-right: 10rem;
    }
    .textbox1 {
      margin-left: 2rem;
    }

}
